#top-container {
    height: 50%;
}

#bottom-container {
    height: 50%;
}

Tree {
    width: 40%;
    dock: left;
}

NoteViewer {
    width: 60%;
    dock: right;
    background: $panel;
    padding: 1;
}

#backlinks-panel {
    width: 50%;
    dock: left;
    background: $panel;
    padding: 1;
    border: solid $secondary;
}

#forward-links-panel {
    width: 50%;
    dock: right;
    background: $panel;
    padding: 1;
    border: solid $secondary;
}

FilterDialog {
    align: center top;
}

FilterDialog Input {
    width: 100%;  /* Make input take full width */
    margin: 0;    /* Remove margin */
    border: none; /* Remove border */
    height: 3;    /* Match container height */
    background: $panel; /* Match container background */
}

Footer {
    background: $panel;
    color: $text;
    padding: 0 1;
}

Footer > .footer--key {
    background: $accent;
    color: $text;
    padding: 0 1;
    margin: 0 1 0 0;
    border: none;
}

Footer > .footer--highlight {
    background: $accent-darken-1;
    color: $text;
}

Footer > .footer--description {
    color: $text-muted;
    padding: 0 2 0 0;
}
