#top-container {
    height: 50%;
}

#bottom-container {
    height: 50%;
}

Tree {
    width: 40%;
    dock: left;
}

NoteViewer {
    width: 60%;
    dock: right;
    background: $surface;
    padding: 1;
}

#backlinks-panel {
    width: 50%;
    dock: left;
    background: $surface;
    padding: 1;
    border: solid $primary;
}

#forward-links-panel {
    width: 50%;
    dock: right;
    background: $surface;
    padding: 1;
    border: solid $primary;
}

FilterDialog {
    align: center top;
}

FilterDialog Input {
    width: 100%;  # Make input take full width
    margin: 0;  # Remove margin
    border: none;  # Remove border
    height: 3;  # Match container height
    background: $boost;  # Match container background
}

Footer {
    background: $boost;
    color: $text;
    padding: 0 1;
}

Footer > .footer--key {
    background: $primary-darken-2;
    color: $text;
    padding: 0 1;
    margin: 0 1 0 0;
    border: none;
}

Footer > .footer--highlight {
    background: $primary-darken-3;
    color: $text;
}

Footer > .footer--description {
    color: $text-muted;
    padding: 0 2 0 0;
}
